<%= render partial: 'shared/header' %>
<div class="container col-ex-lg-7 col-lg-8 col-md-9 col-sm-9 col-10 p-5 border border-secondary">
  <%= image_tag @book.image_link, class: 'thumbnail-lg' if @book.image_link.present? %>
  <%= image_tag 'no_image.jpg', class: 'thumbnail-lg border' if @book.image_link.blank? %>
  <%= form_with model: @book, url: book_path, local: true do |form| %>
    <div class='form-group'>
      <div class='form-text-wrap'>
        <label class="form-text">読書状況</label>
      </div>
      <%= form.collection_select(:status_id, Status.all, :id, :name, {}, {class:"status-select"})%>
    </div>
    <%= form.submit "読書状況を変更" %>
  <% end %>
  <%= button_to '本棚から削除', book_path(@book), method: :delete, class: 'delete-book' %>
</div>